<div id="about-container">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center" style="height: 100%;">
    <h1 class="mb-4">This is LMS</h1>
    <h2 style="max-width: 800px;" class="fw-light mb-4">A platform for teachers and students to share knowledge and resources along with fostering communication and collaboration</h2>
    <ul class="lead">
      <li>
        Post, comment, and facilitate classroom discussions through announcements
      </li>
      <li>
        Assign and grade assignments
      </li>
      <li>
        Grades are organized through Polar and Bar Charts for students and teachers
      </li>
      <li>
        Offer open-ended questions and responses to promote thinking skills
      </li>
      <li>
        Keep materials and resources organized in the Course Page
      </li>
    </ul>
  </div>
</div>




