<section class="hero-banner bg-light py-5">
  <div class="container">
      <div class="row row align-items-center ">
          <div class="col-lg-5 offset-lg-1 order-lg-1" id="img-col">
              <img src="assets/images/home.jpg" class="img-fluid" alt="Web Development">
          </div>
          <div class="col-lg-6" id="text-col">
              <h1 class="mt-3">Manage teaching & learning with this LMS</h1>
              <p class="lead text-secondary my-5">LMS helps connect teachers and students, boost collaboration, and share educational resources</p>
              <div class="d-flex justify-content-center justify-content-sm-start">
              <button  class="btn btn-outline-secondary btn-lg border">Go to Class <i class="bi bi-arrow-right-square"></i></button>
              </div>
          </div>
      </div>

      <!-- <app-carousel></app-carousel> -->
  </div>
</section>
